.animate {
  &.ng-enter {
    animation: fadeIn 1.5s;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.navbar-animate {
  &.ng-enter,
  &.ng-enter nav,
  &.ng-leave,
  &.ng-leave nav {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  }

  &.ng-enter-active,
  &.ng-enter-active nav,
  &.ng-leave,
  &.ng-leave nav {
    opacity: 1;
    top: 0;
  }
  &.ng-enter,
  &.ng-enter nav,
  &.ng-leave-active,
  &.ng-leave-active nav {
    opacity: 0;
    top: -50px;
  }
}
