.breadcrumb {
  font-size: $font-size--md;
  // margin-bottom: 0px;
}

.navbar-brand {
  // font-size: 36px;
}

.editable-click, a.editable-click {
	text-decoration: none;
	color: $text-color;
	border-bottom: 0px;
}

.editable-wrap {
	display: inline-block;
	white-space: nowrap;
	margin-bottom: 10px;
  margin-top: 20px;
}
