// colors
$font-color--dark: #333;
$font-color--light: #fff;
$background--light: #eee;
$background--dark: #222;
$blue: #1f8de2;
$green: #1fe27b;
$red: #e21f3f;

// spacing
$full-space: 60px;
$half-space: 30px;
$body-top-space: 120px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

$breadcrumb-bg: #ffffff;

$navbar-inverse-bg: #0db9f0;
$navbar-inverse-link-color: white;
$container-large-desktop: 980px;

// $navbar-height: 100px;
