<h2 ng-Show="ctrl.device.name">{{ ctrl.device.name }}</h2>
<h2 ng-Hide="ctrl.device.name">{{ ctrl.device.deviceId }}</h2>

<div class="row">
  <div class="col-sm-2">
    <input type="text" ng-Model="ctrl.temp" class="form-control" id="temp" placeholder="Temp">
  </div>
  <div class="col-sm-1">
    <button type="submit" ng-click="ctrl.sendTemp(ctrl.temp)" class="btn btn-primary">SET</button>
  </div>
  <div class="col-sm-2 v-align">
    <span class="v-align">current: {{ ctrl.currentTemp }}</span>
  </div>
</div>
