<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ui-sref="Rooms"><fa name="lightbulb-o"></fa> {{ navigation.brand }}</a>

    </div>

    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      <ul class="nav navbar-nav">
        <li><a ui-sref="Rooms">Rooms</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
          <!-- {{ navigation.user.username }}</a></li> -->
        <li ng-show="!navigation.authenticated()"><a ui-sref="Login">login</a></li>
        <li ng-show="navigation.authenticated()"><a href="" ng-click="navigation.logout()">logout</a></li>
      </ul>
    </div>
  </div>
</nav>
