<div class="col-md-6 col-md-offset-3">
  <h3 class="text-center">Register or <a ui-sref="Login">Login</a></h3>
  <form>
    <div class="input-group top-buffer">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input type="text" class="form-control" name="username"
        placeholder="username" ng-model="register.username"></input>
    </div>
    <span class="help-block"></span>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <input type="password" class="form-control" name="password"
        placeholder="Password" ng-model="register.password"></input>
    </div>
    <span class="help-block"></span>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <input type="password" class="form-control" name="password2"
        placeholder="Retype Password"></input>
    </div>
    <span class="help-block"></span>


    <button type="submit" ng-click="register.register()" class="btn btn-primary btn-lg  btn-block">Register</button>
  </form>
</div>
