<!-- <h2>Rooms</h2>
<div class="row" ng-repeat="room in rooms.rooms">
  <div ngShow="room.name" class="col-md-8"><a><h3>{{ room.name }}</h3></a></div>
  <div ngHide="room.name" class="col-md-8"><a><h3>{{ room.roomId }}</h3></a></div>
</div> -->

<h2>Rooms</h2>
<div class="row" ng-repeat="room in rooms.rooms">
  <div class="col-md-10">
    <form class="form-inline">
      <div class="form-group">
        <label ngShow="room.name" for="temp">{{ room.name }}</label>
        <label ngHide="room.name" for="temp">{{ room.roomId }}</label>

        <input type="text" ng-Model="room.temp" class="form-control" id="temp" placeholder="Temp">
      </div>

      <button type="submit" ng-click="rooms.sendTemp(room.roomId, room.temp)" class="btn btn-default">Send</button>
    </form>
  </div>
</div>
